
.reserved {
	background: #EDF2FE;
	font-size: 13px;
	padding: 14px 0;
}
.footer-menu {
	padding: 60px 0;
	@media (max-width: 767px) {
		padding: 30px 0;
	}
}
.content-menu-ft {
	display: flex;
	align-items: center;
	justify-content: space-between;
	ul {
		list-style: none;
		display: flex;
		align-items: center;
	}
	@media (max-width: 1023px) {
		flex-wrap: wrap;
		.ft-logo {
			flex: 0 0 100%;
			margin-bottom: 15px;
		}
	}
	@media (max-width: 767px) {
		flex-wrap: wrap;
		.ft-logo {
			flex: 0 0 100%;
			margin-bottom: 0;
		}
		.ft-menu {
			flex: 0 0 100%;
			font-size: 14px;
			padding: 25px 0;
			ul {
				justify-content: center;
			}
			li {
				padding-right: 20px;
			}
		}
		.ft-social {
			flex: 0 0 100%;
			ul {
				justify-content: center;
			}
		}
	}
}
.ft-social {
	li {
		margin-right: 16px;
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		display: flex;
	}
}
.ft-menu {
	li {
		padding-right: 35px;
		&:last-child {
			padding-right: 0;
		}
	}
	a {
		font-weight: 600;
		display: flex;
		color: #121E28;
	}
}
.content-footer {
	padding-bottom: 45px;
	@media (max-width: 1023px) {
		.col-md-3 {
			flex: 0 0 calc(100% / 3);
			max-width: calc(100% / 3);
			&:last-child {
				margin-top: 20px;
			}
		}
	}
	@media (max-width: 767px) {
		.col-md-3 {
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.col-link-ft {
			padding: 0 !important;
		}
	}
}
.item-ft {
	font-size: 14px;
	h3 {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 16px;
		color: #121E28;
	}
	ul {
		list-style: none;
		font-weight: 600;
		color: #121E28;
		li {
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		p {
			margin-bottom: 16px;
			opacity: 0.8;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	a {
		font-weight: 600;
		color: #121E28;
	}
	&.col-link-ft {
		padding-left: 45px;
	}
}
.info-place {
	ul {
		li {
			position: relative;
			padding-left: 40px;
			span {
				display: block;
				color: $blue;
			}
			img {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

.header-top {
	padding: 20px 0;
	background: #fff;
	z-index: 1001;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	transition: .3s all !important;
	&.sstick {
		box-shadow: 0px 2px 14px #00000038;
		padding: 10px 0;
	}
	@media (max-width: 1200px) {
		font-size: 14px;
		.logo {
			img {
				max-width: 180px;
			}
		}
	}
}


.btn-bar {
	display: none;
}
.info-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
	position: relative;
	width: calc(100% + 100px);
	.left {
		display: flex;
		align-items: center;
	}
	ul {
		list-style: none;
	}
	.right {
		ul {
			align-items: center;
			display: flex;
			li {
				padding-left: 40px;
			}
		}
		.dthu {
			display: flex;
			border: 1px solid #769FFA;
			box-sizing: border-box;
			border-radius: 4px;
			height: 48px;
			padding: 0 12px;
			align-items: center;
			color: $blue;
			&:hover {
				color: #fff;
				background: $blue;
			}
		}
	}
	@media (max-width: 1400px) {
		width: 100%;
		.right {
			ul {
				li {
					padding-left: 30px;
				}
			}
		}
	}
	@media (max-width: 1200px) {
		.right {
			ul {
				li {
					padding-left: 20px;
				}
			}
			.dthu {
				height: 40px;
			}
		}
	}
	@media (max-width: 1023px) {
		.right {
			li {
				&:last-child {
					display: none;
				}
			}
		}
		.btn-bar {
			display: block;
			margin-right: 30px;
			position: relative;
			top: 3px;
		}
	}
	@media (max-width: 767px) {
		.right {
			display: none;
		}
	}
}
.h-menu {
	ul {
		display: flex;
		li {
			padding-left: 40px;
		}
	}
	@media (max-width: 1400px) {
		ul {
			li {
				padding-left: 25px;
			}
		}
	}
	@media (max-width: 1200px) {
		ul {
			li {
				padding-left: 15px;
			}
		}
	}
	@media (max-width: 1023px) {
		display: none;
	}
}
.translate {
	position: relative;
	&:hover {
		.subtrans {
			opacity: 1;
			pointer-events: unset;
		}
	}
	.subtrans {
		position: absolute;
		width: 100%;
		box-shadow: 0px 0px 7px #ddd;
		text-align: center;
		padding: 5px 0;
		top: 24px;
		right: 0;
		z-index: 2;
		transition: .3s all !important;
		opacity: 0;
		pointer-events: none;
		a {
			margin-bottom: 5px;
			display: block;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.menu-mobile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1002;
	background: #2e6cf6e0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	pointer-events: none;
	opacity: 0;
	transition: .4s all !important;
	&.active {
		opacity: 1;
		pointer-events: unset;
	}
	ul {
		list-style: none;
		li {
			padding: 10px 0;
		}
	}
	a {
		color: $blue;
	}
	.info-menu-mb {
		max-width: 350px;
		background: #fff;
		width: 100%;
		position: relative;
		border-radius: 6px;
		padding: 10px 0;
	}
	.close-menu {
		position: absolute;
		top: -35px;
		right: -35px;
		a {
			display: flex;
		}
	}
	@media (max-width: 767px) {
		font-size: 16px;
		ul {
			li {
				padding: 5px 0;
			}
		}
		.info-menu-mb {
			max-width: 90%;
		}
		.close-menu {
			right: 0;
		}
	}
}

main {
	margin-top: 88px;
}

.fix-icon-box {
	position: fixed;
	z-index: 2;
	top: calc(50% - 150px);
	right: 20px;
	img {
		width: 60px;
	}
	ul {
		list-style: none;
		li {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	a {
		display: inline-flex;
		box-shadow: 0px 3px 11px #00000033;
		border-radius: 100%;
	}
	@media (max-width: 1023px) {
		ul {
			display: none;
		}
		.close-gif {
			img {
				width: 70px;
			}
		}
	}
}
.box-gif {
	margin-left: -60px;
	margin-top: 30px;
	padding-left: 20px;
	position: relative;
	img {
		width: 100px;
	}
	&:hover {
		a {
			opacity: 1;
			pointer-events: unset;
		}
	}
	a {
		display: inline-flex;
		border-radius: 8px;
		font-weight: 600;
		padding: 15px 20px;
		position: absolute;
		top: calc(50% - 30px);
		left: -150px;
		background: #fff;
		border: 2px solid #ffc007;
		transition: .3s all !important;
		opacity: 0;
		pointer-events: none;
	}
	.close-gif {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		svg {
			width: 25px;
			height: 25px;
		}
	}
}